  .ipt__css {
        width: 20px;
        height: 20px;
        text-align: center;
    }
    
    .cs {
        display: flex;
        flex-direction: column;
        margin-left: 400px;
    }

    .num1 {
        margin-left: 8px;
        margin-top: -10px;
        margin-bottom: -1px;
    }
    
    .flash {
        display: flex;
        flex-direction: row;
        margin-left: 316px;
    }

    .adressBus {
        display: flex;
        flex-direction: column;
        margin-left: 372px;
    }
    
    .registradores {
        display: flex;
        flex-direction: row;
        margin-left: 204px;
        margin-top: -182px;
    }
    
    .i5 {
        display: flex;
        flex-direction: column;
        margin-top:-52px;
        margin-left: 288px;
    }
    
    .dataBus {
        display: flex;
        flex-direction: row;
        margin-top: 52px;
        margin-left: 204px;
    }
    
    .dma {
        display: flex;
        flex-direction: column;
        margin-left: 204px;
    }

    .Eprom {
        display: flex;
        flex-direction: column;
        margin-left: 512px;
        margin-top: -105px;
    }
    
    .ram {
        display: flex;
        flex-direction: row;
        margin-left: 456px;
        margin-top: -26px;
    }
    .memoria_de_massa {
        display: flex;
        flex-direction: row;
        margin-left: 64px;
        margin-top: 27px;
    }

    .i7 {
        display: flex;
        flex-direction: column;
        margin-left:204px;  
    }

    .rom {
        display: flex;
        flex-direction: column;
        margin-top: -104px;
        margin-left: 148px;
    }

    .ula {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        margin-left: 428px;
    }

    .quadCore {
        display: flex;
        flex-direction: row;
        margin-left: 400px;
    }

    .dualCore {
        display: flex;
        flex-direction: column;
        margin-left: 568px;
        margin-top: -182px;
    }
    .cpu {
        display: flex;
        flex-direction: row;
        margin-left: 596px;
        margin-top: -104px;
    }
    .fundo__css {
        background-color: rgb(209, 225, 238);
        border-radius: 60px;
        padding: 60px;
        margin: 30px 200px;
    }
    #frase{
        margin: 110px;
        text-align: center;
    }
    #botoes{
        margin: 40px 130px;
    }
    .botoes__css{
        width: 30px;
        text-align: center;
    }