  .ipt__css {
        width: 20px;
        height: 20px;
        text-align: center;
        /* border: 1px solid black; */
    }

    .ipt__css:disabled {
        background: white;
    }
    
    .num{
        background-color: transparent;
        border: transparent;
        font-weight: bold;
        color: black;
        width: 20px;
        height: 20px;
        text-align: center;
    }

    .cs {
        display: flex;
        flex-direction: column;
        margin-left: 400px;
    }

    .flash {
        display: flex;
        flex-direction: row;
        margin-left: 292px;
    }

    .adressBus {
        display: flex;
        flex-direction: column;
        margin-left: 372px;
        margin-top: -48px;
    }
    
    .registradores {
        display: flex;
        flex-direction: row;
        margin-left: 180px;
        margin-top: -182px;
    }

    .i5 {
        display: flex;
        flex-direction: column;
        margin-top:-51px;
        margin-left: 288px;
    }
    
    .dataBus {
        display: flex;
        flex-direction: row;
        margin-top: 6px;
        margin-left: 180px;
    }
    
    .dma {
        display: flex;
        flex-direction: column;
        margin-left: 204px;
    }

    .Eprom {
        display: flex;
        flex-direction: column;
        margin-left: 512px;
        margin-top: -170.8px;
    }
    
    .ram {
        display: flex;
        flex-direction: row;
        margin-left: 432px;
        margin-top: -26px;
    }
    .memoria_de_massa {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-top: 27px;
    }

    .i7 {
        display: flex;
        flex-direction: column;
        margin-left:204px;  
    }

    .rom {
        display: flex;
        flex-direction: column;
        margin-top: -148px;
        margin-left: 120px;
    }

    .ula {
        display: flex;
        flex-direction: column;
        margin-top: 26px;
        margin-left: 428px;
    }

    .quadCore {
        display: flex;
        flex-direction: row;
        margin-left: 376px;
        margin-top: -49px;
    }

    .dualCore {
        display: flex;
        flex-direction: column;
        margin-left: 568px;
        margin-top: -205px;
    }

    .cpu {
        display: flex;
        flex-direction: row;
        margin-left: 546px;
        margin-top: -104px;
    }

    .fundo__css {
        background-color: rgb(209, 225, 238);
        border-radius: 60px;
        padding:20px 60px;
        margin: 10px 200px;
    }

    #frase{
        margin: 110px;
        text-align: center;
    }

    .frase__css{
        font-size: 17px;
        font-family: monospace;
    }

    #botoes{
        margin: 40px 130px;
    }

    .botoes__css{
        width: 30px;
        text-align: center;
        border-radius: 5px;
        border: 0.5px groove black;
        font-weight: bold;
        text-shadow: 10px 10px 10px 10px rgb(0, 140, 255) ;
    }
    .ipt_tentativa{
        margin-left: 320px;
        text-align: center;
        border: 1px solid rgb(134, 194, 243);
        border-radius: 10px;
        height: 30px;
    }
    
    button{
        cursor: pointer;
    }
    
    .verificar{
        margin-top: 20px;
        margin-left: 375px;
        border-radius: 5px;

    }

    h1{
        font-family: monospace;
        text-align: center;
        margin: 0;
    }
